.lightYellowTitle {
    color: var(--light-yellow-title);
}
.lightYellowText {
    color: var(--light-yellow-text);
}
.ctaTextContainer {
    text-align: center;
}
.ctaText {
    font-weight: bold;
    line-height: 1.25;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    margin: 1rem auto;
}
.btnContainer {
    margin: 3rem 0;
}

@media (min-width: 768px) {
    .ctaTextContainer {
        margin: 8rem 0;
    }
    .ctaText {
        max-width: 700px;
        margin: 0 auto;
        font-size: 5rem;
        text-transform: none;
    }
} 
