.navbarContainer {
    display: flex;
    justify-content: center;
}    
.containerFluid {
    display: flex;
    align-items: start;
}
.navbarLogo {
    max-width: 100px;
    cursor: pointer;
}
.navbarToggler,
.navbarToggler:focus,
.navbarToggler:active,
.navbarToggleIcon:focus {
    background-color: var(--light-yellow);
    outline: none;
    box-shadow: none;
    border: 2px solid var(--light-yellow);
    margin-bottom: 3rem;
}
.navbar {
    width: 100%;
}
.navLink {
    color: var(--light-yellow);
    font-family: var(--josefin);
    font-size: 1.25rem;
    text-decoration: none;
}
.navLink:hover {
    color: var(--orange);
    scale: 1.2;
}
.loginBtnContainer {
    display: none;
} 

@media (min-width: 768px){
    .navbarLogo {
        max-width: 15%;
    }
    .loginBtnContainer {
        display: block;
    }
    .navbarContainer {
        margin: 0;
    }
    .containerFluid {
        align-items: center;
    }
    .navLinksContainer {
        padding: 0;
        margin: 0 auto;
     }
     .navLinksContainer a {
        font-size: 1.25rem;
        margin: 0 1.5rem;
     }
     .navbarToggler {
        display: none;
     }
}


@media (min-width: 1100px) {
    .navLinksContainer a {
        font-size: 2rem;
        margin: 0 2rem;
    }
}

@media (min-width: 1800px) {
    .navLinksContainer a {
        font-size: 3.5rem;
        margin: 0 3rem;
    }
    /* .loginBtnContainer button {
        padding: 2rem 3rem;
    } */
}



