.whyContainer {
    margin: 10rem 0;
}
.whyColumns {
    display: flex;
    flex-direction: column;
}
.singleColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
    color: var(--light-yellow);
    max-width: 275px; 
}
.singleColumn img {
    max-width: 250px;
}
.whyTitle {
    font-family: var(--shrikhand);
    color: var(--light-yellow-title);
    text-align: center;
}
.singleColumnDescription {
    padding: 1rem;
    margin-top: 1.5rem;
    border-radius: 1rem;
    background-color: var(--light-yellow-text); 
    color: var(--dark-gray);
    text-align: center;
}

@media (min-width: 992px) {
    .whyColumns {
        flex-direction: row;
        justify-content: space-around;
    }
}

@media (min-width: 1400px) {
    .singleColumn {
        max-width: 350px;
    }
    .singleColumn img {
        min-width: 200px;
    }
    .singleColumnDescription {
        font-size: 1.5rem;
    }
}