.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.singleTutor {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--josefin);
    color: var(--navy-blue);
    position: relative;
}
.tutorInfo {
    max-width: 160px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -40%);
}
.tutorProfile,
.tutorRating {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 220px;
    gap: 0.5rem;
}
.tutorProfile {
    margin: 0.5rem 0;
    font-size: 1rem;
}
.tutorProfile p,
.tutorRating p {
    margin: 0;
}
.tutorRating {
    font-size: 0.9rem;
}
.rating {
    color: var(--gold);
    font-size: 1rem;
}
.tutorQuote p {
    text-align: center;
    margin-top: 0.5rem;
    font-size: 0.8rem;
}
.star {
    max-width: 350px;
}
.tutorImg {
    max-width: 50px;
    border-radius: 50%;
}
.ratingIcon {
    max-width: 17px;
}
.dotShape {
    padding: 0.2rem;
    background-color: var(--dark-gray);
    border-radius: 50%;
}

@media (min-width: 768px) and (max-width: 1199px) {
    .tutorsContainer {
        margin: 5rem 0;
    }
    .star {
        max-width: 600px;
    }
    .tutorImg {
        max-width: 50px;
    }
    .ratingIcon {
        max-width: 30px;
    }
    .tutorInfo {
        max-width: 220px;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-40%, -40%);
    }
    .tutorQuote p {
        text-align: center;
        margin-top: 1.2rem;
        font-size: 1.3rem;
    }
    .tutorProfile p {
        font-size: 1.2rem;
    }
    .tutorRating p {
        font-size: 1rem;
    }
}

@media (min-width: 1200px) {
    .tutorsContainer {
        display: flex;
        gap: 1rem;
        height: 600px;
     
    }
    .container {
        padding: 3rem 0;
    }
    .secondStar  {
        align-self: flex-start;
    }
    .firstStar,
    .thirdStar {
        align-self: flex-end;
    }
}