.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}
.tutorDetailsContainer {
    border: 2px solid blue;
    background-color: var(--white);
    padding: 1rem;
    margin: 1rem;
    border-radius: 25px;
}
.tutorHeaderContainer {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    gap: 1rem;
}
.tutorBookingCard {
    display: flex;
    justify-content: center;
    padding: 0.5rem 0;
    border-radius: 50px;
    background-color: transparent;
}

.tutorBookingCard > * {
    margin: 0.5rem;
}
.tutorImg {
    max-width: 80px;
    border-radius: 50%;
    margin: 1rem 0;
}
.tutorName {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0;
}
.tutorField {
    font-style: italic;
    font-size: 1.10rem;
}
.ratingWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.ratingContainer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.rating {
    margin: 0;
    color: var(--gold);
}
.ratingImg {
    max-width: 20px;
}
.lessonCount {
    opacity: 0.5;
}
.skillsContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.3rem 0;
    margin: 1rem;
}
.skillsContainer p {
    margin: 0;
}
.skillTitle {
    opacity: 0.5;
}
.chipsContainer {
    display: flex;
}
/* .chips {
    display: flex;
    justify-content: space-around;
    padding: 0 2rem;
    border: 2px solid green;
}
.chips > * {
    margin: 0 0.2rem;
    background: magenta;
    border: 1px solid magenta;
}

.chips::before{
    content: "<";
}
.chips::after {
    content: ">";
}
.chips::before,
.chips::after {
    color: var(--dark-gray);
} */
.tabsContainer {
    display: flex;
    justify-content: space-around;
}
.tabContent {
    max-width: 600px;
    margin: 0 auto;
}
.tabBtn {
    font-size: 1rem;
    margin: 1rem 0;
    border: none;
    color: var(--dark-gray);
    background-color: transparent;
}
.tabBtnSelected {
    border-bottom: 2px solid var(--dark-gray);
}

.ratingIcon {
    margin: 1rem 0;
}

.singleReview {
    margin: 1rem 0;
    border-bottom: 1px solid var(--light-gray);
}

.ratingStars {
    max-width: 30px;
    margin: 0 0.2rem 1rem 0;
}



@media (min-width: 768px) {
    .ratingImg {
        max-width: 25px;
        border: 1px solid green;
    }
    .rating {
        font-size: 1.75rem;
    }
    .tabBtn {
        font-size: 1.25rem;
    }
    .skillsContainer p,
    .skillsContainer p {
        font-size: 1.25rem;
    }
}


@media (min-width: 992px) {
   .container {
      padding: 3rem;
   }
   .wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;

}
}