.heroContainer {
background-color: var(--home-pg-bg);
padding: 1.5rem !important;
}

.heroTextContainer {
color: var(--light-yellow)
}

.heroTextTitle {
   font-size: 2.75rem;
   font-family: var(--shrikhand);
}

.heroTextDescription {
   font-weight: 200;
}
.heroTextDescription span {
   font-weight: bold;
}

.heroBtn {
   padding: 1rem 2rem;
   margin-top: 2rem;
   border-radius: 2rem;
   border: 1px solid black;
   font-size: 1rem;
   font-weight: 700;
   background-color: var(--light-yellow);
   color: var(--green);
   text-transform: uppercase;
   }

/* MEDIA QUERIES */

@media (min-width: 544px) {
.heroTextTitle {
font-size: 5.25rem;
}
}

@media (min-width: 768px) {
.heroContainer {
padding: 3rem !important;
}
} 


@media (min-width: 1200px) {
.heroTextContainer {
   max-width: 45%;
}
}

@media(min-width: 1900px) {
.heroTextTitle {
   font-size: 8rem;
}
.heroTextSubtitle {
   font-size: 3rem;
}
.heroTextDescription {
   font-size: 1.75rem;
}
}

