.container {
   padding: 1rem;
   /* max-width: 1200px; */
   /* display: flex;
   flex-direction: column; */
   /* padding: 1.5rem !important; */
}
.heroTextContainer {
   color: var(--light-yellow-text);
}
.heroTextTitle {
   font-size: 3.57rem;
   color: var(--light-yellow-title);
   font-family: var(--shrikhand);
   border: 1px solid black;
}
.heroTextSubtitle {
   font-size: 1.75rem;
   margin: 1rem 0;
   border: 1px solid black;
}
.heroTextDescription {
   font-size: 1.25rem;
   font-weight: 200;
   border: 1px solid black;
}
.heroTextDescription span {
   font-weight: bold;
}
.heroImg {
   /* max-width: 100%; */
   display: none;
}
.arrowContainer img {
   max-width: 45px;
   margin: 1rem 0 2rem;
}

@media (min-width: 1024px) {
   .container {
      border: 2px solid yellow;
      display: flex;
      justify-content: space-around;
      align-items: center;
   }
   .heroImg {
      border: 2px solid salmon;
      display: block;
      max-width: 80%;
      margin: 0 auto;
   }
   .heroTextContainer {
      border: 2px solid blue;
      padding: 0 2rem;
      max-width: 50%;
   }
   .heroTextTitle {
      font-size: 4rem;
      border: 1px solid black;
   }
   .heroTextSubtitle {
      font-size: 2rem;
      border: 1px solid black;
   }
   .arrowContainer img {
      max-width: 60px;
   }
}
/* @media(min-width: 1900px) {
   .heroTextTitle {
      font-size: 8rem;
   }
   .heroTextSubtitle {
      font-size: 3rem;
   }
   .heroTextDescription {
      font-size: 1.75rem;
   }
} */

