.container {
   margin: 2rem 0;
   padding: 1rem 1.5rem;
}

.heroTextContainer {
   margin: 2rem 0;
   color: var(--light-yellow-text);
}
.heroTextContainer > *  {
   margin: 1rem 0;
}
.heroTextTitle {
   font-size: clamp(3.5rem, 10vw, 5rem);
   color: var(--light-yellow-title);
   font-family: var(--shrikhand);
}
.heroTextSubtitle {
   font-size: clamp(1rem, 10vw, 3rem);
}
.heroTextDescription {
   font-weight: 200;
   font-size: clamp(1rem, 10vw, 2rem);
}
.heroTextSubtitle span{
   color: var(--orange);
}
.heroTextDescription span {
   font-weight: bold;
}

.heroImg {
   display: none;
}

.arrowIcon {
   max-width: 5rem;
}


@media (min-width: 1100px) {
   .container {
      margin: 10rem 2rem;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 2rem;
   }
   .heroTextContainer {
      max-width: 50%;
   }
   .heroImg {
      display: block;
      max-width: 100%;
      margin: 0 auto;
   }
} 