.container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 4rem 0;
    margin: 8rem 0;
}
.discountText {
    font-family: var(--spray);
    color: var(--light-yellow-title);
    font-size: 3rem;
    margin: 0;
}
.discountImg {
    max-width: 120px;
    margin-bottom: 6rem;
}
.discountText,
.discountImg {
    transform: rotate(-15deg);
}
.content {
    display: flex;
    align-items: center;
}
@media (min-width: 576px) {
    .discountText {
        font-size: 5rem;
    }
    .discountImg {
        max-width: 150px;
        margin-bottom: 9rem;
    }
}
@media (min-width: 768px) {
    .discountText {
        font-size: 7rem;
    }
    .discountImg {
        max-width: 230px;
        margin-bottom: 13rem;
    }
}

@media (min-width: 1080px) {
    .container {
        overflow: hidden;
        justify-content: flex-start;
        align-items: center;
        margin: 10rem 0;
    }
    .discountText {
        font-size: 5rem;
        margin-top: 10rem;
    }
    .discountImg {
        margin: 0;
        max-width: 250px;
    }
}
@media (min-width: 1200px) {
    .discountText {
        font-size: 8rem;
    }
    .discountImg {
        max-width: 350px;
        margin-bottom: 5rem;
    }
}
