.container {
    max-width: 550px;
    height: 100vh;
    color: var(--light-yellow-text);
    text-align: center;
    margin: 2rem auto;
    padding: 2rem;
}
.container span {
    color: var(--orange);
    font-weight: bold;
}
.redirectText {
    margin: 2rem 0;
    font-style: italic;
}
.counter {
    font-weight: bold;
}

