.lightYellowTitle {
    color: var(--light-yellow-title);
}
.lightYellowText {
    color: var(--light-yellow-text);
}
.featureTitleContainer {
    max-width: 420px;
    margin: 3rem auto;
    position: relative;
}
.featureTitleCentered {
    text-align: center;
    font-size: 3.75rem;
}
.featureTitleCentered {
    max-width: 300px;
    margin: 0 auto;
    font-size: 4rem;
    font-weight: bold;
    line-height: 1.25;
}
.featureDescriptionContainer {
    max-width: 300px;
    margin: 3rem auto;
    text-align: center;
    font-size: 1.5rem;
}

.featureDescriptionContainer > * {
    margin: 8rem 0;
}
.featureDescription span {
    font-weight: bold;
}
.subjectsContainer {
    display: flex;
    flex-direction: column;
    max-width: 325px;
    margin: 3rem auto 2rem;
}
.singleSubjectContainer {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}
.singleSubjectContainer {
    display: flex;
    position: relative;
    flex-direction: column;
}
.singleSubjectContainer img {
    max-width: 65px;
}
.subject {
    background-color: var(--baby-pink);
    padding: 0.75rem 4.5rem;
    font-size: 1.5rem;
    border-radius: 50px;
    border: 1px dashed var(--navy-blue);
    border-style: dashed;
    margin: 3rem 0;
    font-weight: bold;
}
.codingImgOne,
.codingImgTwo {
    position: absolute;
    top: 10px;
    left: 20px;
}
.codingImgTwo {
    left: 220px;
}
.languageImg {
    position: absolute;
    bottom: 0px;
}
.codingImgOne {
    position: absolute;
    top: 10px;
    left: 20px;
}
.codingImgTwo {
    right: 10px;
}
.languageImg {
    position: absolute;
    bottom: 0px;
    left: 50px;
} 
.mathImg {
    position: absolute;
    left: 50px;
    top: 10px;
}


@media (min-width: 768px) {
    .featureDescriptionContainer {
        max-width: 500px;
        /* margin: 0 auto; */
        font-size: 2.5rem;
        color: var(--light-yellow);
    }
    .language{
        align-self: flex-end;
    }
    .math {
        align-self: flex-start;
    }
    .mathImg {
        left: 5px;
    }
} 

@media (min-width: 992px) {
    .featureTitleContainer {
        max-width: 900px;
    }
    .featureTitleCentered {
        font-size: 8.5rem;
        max-width: 850px;
    }
    .featureDescriptionContainer {
        max-width: 800px;
        font-size: 3.5rem;
        color: var(--light-yellow);
    }
    .subjectsContainer{
        max-width: 500px;
    }
    .singleSubjectContainer img {
        max-width: 75px;
    }
    .codingImgOne {
        left: 80px;
    }
    .codingImgTwo {
      visibility: hidden;
    }
    .languageImg {
        left: 200px;
    }
    .quizzesImgTwo {
        right: 90px;
    }
    .subject {
        padding: 0.75rem 5.5rem;
        font-size: 1.5rem;
        border-radius: 50px;
        margin: 3rem 0;
    }
}

@media (min-width: 1400px) {
    .featureTitleContainer {
        max-width: 1300px;
    }
    .featureDescriptionContainer {
        max-width: 1200px;
        margin: 0 auto;
        font-size: 6rem;
        color: var(--light-yellow);
    }
    .featureTitleCentered {
        font-size: 12rem;
        max-width: 1200px;
    }
}

