.howItWorksWrapper {
    background-color: var(--green);
    text-align: center;
}


.singleStep {
    margin: 1rem 0;
}
.howItWorksContainerTitle {
    font-family: var(--shrikhand);
    color: var(--light-yellow);
    font-size: 2.75rem;
    padding-top: 2rem;
}
.stepBackground {
    background-color: var(--white);
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.textContainer{
    font-family: var(--josefin);
    width: 225px;
    color: var(--navy-blue)
}

.textContainer h2 {
    font-weight: 700;
    font-size: 1.5rem;
}
.stepsContainer {
   max-width: 95%;
   margin: 0 auto;
   padding: 20rem 0; 
   border: 1px solid yellow;
}

/* .stepOne {
    margin-top: 2rem;
} */
/* .stepTwo {
    margin-top: 4rem;
    border: 2px solid orange;
}

.stepThree {
    margin-top: 20rem;
    border: 2px solid blue;
} */

@media (min-width: 992px) {
    .howItWorksContainer {
        background-repeat: no-repeat;
        background-image: url("../../public/assets/howItWorks/wavy-line.png");
    }
}

@media (min-width: 1290px) {
    .howItWorksContainer {
        background-size: 100%;
        background-repeat: no-repeat;
        background-image: url("../../public/assets/howItWorks/wavy-line.png");
    }
}

/* @media (min-width: 1360px) {
    .stepsContainer {
        max-width: 60%;
    }
} */