.howItWorksWrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: var(--josefin);
    color: var(--navy-blue);
}
.title {
    color: var(--light-yellow-title);
    font-family: var(--shrikhand);
}
.howItWorksContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.singleStep {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--light-yellow-text);
    width: 320px;
    height: 320px;
    border-radius: 50%;
    padding: 1.25rem;
    margin: 1rem;
    border: 1px solid var(--dark-gray);
}
.stepTitle {
    font-weight: bold;
    text-transform: capitalize;
    margin: 0;
}
.stepOne {
    padding-top: 6rem;
}
.stepOneImgContainer {
    align-self: flex-end;
}
.stepOneImgContainer img {
    max-width: 70px;
}
.stepTwo img {
    max-width: 120px;
    align-self: center;
}
.stepThree {
    padding-top: 4rem;
}
.stepThreeDescContainer {
    display: flex;
    justify-content: space-between;
}
.stepThreeImgOne img {
    max-width: 120px;
}
.stepThreeImgTwo{
    max-width: 80px;
    align-self: flex-start;
}


@media (min-width: 1200px) {
    .howItWorksContainer {
        height: 800px ;
        border: 1px solid magenta;
        margin: 0 auto;
        flex-direction: row-reverse;
    }
    .stepOne {
        align-self: flex-start;
    }
    .stepThree {
        align-self: flex-end;
    }
}


