
.lightYellowTitle {
    color: var(--light-yellow-title);
}
.lightYellowText {
    color: var(--light-yellow-text);
}
.introContainer {
    max-width: 700px;
    padding: 1rem;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}


.titleItalic {
    font-weight: bold;
    font-style: italic;
    letter-spacing: 0.5px;
    line-height: 1;
}
.titleItalic,
.title {
    font-size: 2.75rem;
}
.titleColored {
    font-weight: bold;
    color: var(--orange);
    font-size: 5rem;
    line-height: 1;
}
.storyContainer {
    margin: 3rem auto;
    max-width: 450px;
    padding: 0 4rem;
    font-size: 1.25rem;
}
.storyContainer p {
    padding: 0.5rem 0;
}
.storyContainer span {
    font-weight: bold;
}
.companyName {
    color: var(--orange);
}


@media (min-width: 576px) {
    .introContainer {
        max-width: 550px;
        text-align: center;
    }
    .titleColored {
        font-size: 4rem;
    }
}

@media (min-width: 768px) {
    .storyContainer {
        max-width: 450px;
    }
} 

@media (min-width: 992px) {
    .introContainer {
        max-width: 900px;
    }
    .titleItalic,
    .title {
        font-size: 4rem;
    }
    .titleColored {
        font-size: 7rem;
        line-height: 1;
    }
}

@media (min-width: 1400px) {
    .storyContainer  {
        font-size: 1.75rem;
    }
}