.container {
    max-width: 1200px;
    margin: 6rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}
.tutorCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--white);
    max-width: 500px;
    margin: 1rem auto;
    border-radius: 35px;
    padding: 1.25rem;
    cursor: pointer;
}
.tutorTop {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
.tutorBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.75rem; 
}
.tutorName,
.tutorField{
    margin: 0;
    text-transform: capitalize;
}
.tutorField {
    font-style: italic;
}
.tutorDescription {
    margin-top: 0.75rem;
}
.tutorImg {
    max-width: 80px;
    border-radius: 50%;
    margin: 1rem 0;
}
.ratingContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.rating {
    margin: 0;
    font-size: 1.5rem;
    line-height: 2rem;
    color: var(--gold);
}
.ratingIcon {
    max-width: 25px;
}
.tutorReview {
    text-align: center;
    align-self: flex-start;
}
.reviewCount {
    padding: 0.5rem 0;
    opacity: 0.5;
    font-size: 0.9rem;
}
.pricing {
    margin-bottom: 0;
    font-size: 1.25rem;
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
        flex-wrap: wrap;
    }
}
