


@media (min-width: 576px) {
    .featureTitleContainer {
        max-width: 600px;
    }
    .featureDescriptionContainer {
        max-width: 420px;
        font-size: 2.25rem;
        color: var(--light-yellow)
    }
    .featureTitle {
        font-size: 6rem;
        max-width: 500px;
    }
    .titleColored {
        font-size: 4rem;
    }
    .featureTitleCentered {
        font-size: 5.5rem;
        max-width: 550px;
    }
}
